@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome -- Patch v2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <div class="container" style="background-color:blue; height: 200px; width: 100%;">
        CHANGED four times
    </div>
    <div class="container" style="background-color:brown; height: 200px; width: 100%;">
        CHANGED Minor
    </div>
    <div class="container" style="background-color:burlywood; height: 200px; width: 100%;">
        CHANGED patch 2
    </div>
    <div class="container" style="background-color:burlywood; height: 200px; width: 100%;">
        CHANGED Minor
    </div>
</div>