@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">Welcome -- Build v2</h1>
    <p> Versão desse arquivo deve ser 3.0.2.1</a>.</p>
</div>
<div>
    <div class="container" style="background-color:blue; height: 200px; width: 100%;">
        CHANGED four times
    </div>
    <div class="container" style="background-color:brown; height: 200px; width: 100%;">
        CHANGED Minor
    </div>
    <div class="container" style="background-color:burlywood; height: 200px; width: 100%;">
        CHANGED patch 3
    </div>
    <div class="container" style="background-color:burlywood; height: 200px; width: 100%;">
        CHANGED Revision v2
    </div>
</div>